    <!-- FOOTER -->
    <footer class="py-5 mt-5 border-top bg-light">
        <div class="container text-center text-md-start">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start mb-3">
                        <img src="/assets/img/logo/logo.png" alt="TriviaGuide Logo" class="navbar-logo"
                            style="margin-right: 8px" />
                    </div>
                    <p class="text-muted">
                        Aprende de forma divertida e interactiva con nuestras guías
                        educativas.
                    </p>
                </div>

                <div class="col-md-2 mb-3 text-center text-md-start">
                    <h5 class="fw-bold">Recursos</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="#" class="text-muted text-decoration-none">Sobre Nosotros</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="text-muted text-decoration-none">Ayuda</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="text-muted text-decoration-none">Preguntas Frecuentes</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 mb-3 text-center text-md-start">
                    <h5 class="fw-bold text-center text-md-start">Contacto</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <i class="bi bi-envelope me-2"></i> Enviar mensaje
                        </li>
                        <li class="mb-2 text-primary fw-bold">soporte@triviaGuide.com</li>
                    </ul>
                </div>

                <div class="col-md-3 mb-3">
                    <h5 class="fw-bold text-center text-md-start">Síguenos</h5>
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                        <a href="https://www.instagram.com" class="btn btn-outline-secondary me-2 rounded-circle"><i
                                class="bi bi-instagram"></i></a>
                        <a href="https://www.x.com" class="btn btn-outline-secondary me-2 rounded-circle"><i
                                class="bi bi-twitter-x"></i></a>
                        <a href="https://www.linkedin.com" class="btn btn-outline-secondary me-2 rounded-circle"><i
                                class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row d-flex justify-content-between pt-4 mt-4 border-top">
                    <div class="col-md-6 col-12">
                        <p class="mb-0 text-muted text-center text-md-start">
                            © 2025 TriviaGuide. Todos los derechos reservados.
                        </p>
                    </div>
                    <div class="col-md-6 col-12 text-center text-md-end">
                        <p class="mb-0 text-muted">Hecho con ❤️ para estudiantes</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>